/** @format */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

html {
	background-color: #4e4d4d;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	background-color: #fff;
}

.container2 {
	padding-left: 15px;
	padding-right: 15px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	width: 100%;
}
.header_top {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header h1 {
	margin-right: 50px;
	margin-left: 10px;
	margin-right: 230px;
	color: #11519b;
}
.header_TimKiem {
	margin-right: 95px;
}
.header_TimKiem select {
	width: 50px;
	height: 30px;
	border-radius: 20px;
}
.header_TimKiem input {
	width: 430px;
	height: 25px;
	border-radius: 20px;
	margin-right: 40px;
	padding-left: 20px;
	outline: none;
	border: 1px solid #777777;
}
.header_LogIn {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header_LogIn a {
	padding-left: 20px;
	padding-right: 20px;
	height: 30px;
	border-left: 1px solid black;
}
.header_LogIn a i {
	font-size: 18px;
}
.header_Menu {
	background-color: #1e73be;
}
.header_Menu_root {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.header_List {
	padding-left: 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 0;
	margin-bottom: 0;
}
.header_item a {
	margin: 3px 10px;
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	line-height: 55px;
}
.header_item:hover {
	background-color: #11519b;
}
.header_Time {
	padding-top: 15px;
}
.header_Time span {
	margin-right: 20px;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}
.header_Time span a {
	color: white;
}

.content {
	width: 100%;
	width: 1170px;
	margin: 0 auto;
}
.content_HeaderImg {
	margin-top: 30px;
	margin-bottom: 30px;
}
.content_products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content_products h2 {
	color: #555555;
	display: inline-block;
	margin-top: 30px;
}
.content_list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	max-width: 1050px;
	overflow-x: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.content_item {
	position: relative;
}
.addCart {
	position: absolute;
	top: 0%;
	left: 40%;
	transform: translate(0%, 0%);
	opacity: 0;
	font-size: 15px;
	color: red;
	background-color: rgb(250, 237, 200);
	border: none;
	height: 30px;
}
.content_item:hover .addCart {
	transform: translate(0%, 350%);
	opacity: 1;
	transition: 1s;
}
.content_img img {
	width: 250px;
	height: 190px;
	margin-right: 10px;
	transition: 0.25s;
	border-radius: 15px;
}
.content_img img:hover {
	transform: scale(1.1);
}
.content_detail {
	padding-bottom: 10px;
	margin-top: 10px;
	padding-left: 80px;
}
.content_detail .category {
	text-transform: uppercase;
	font-size: 20px;
	color: #777777;
}
.content_logos {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 60px;
}
.content_logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px solid #e2dada;
}
.content_logo_img img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border: 1px solid #bdbaba;
	border-radius: 50%;
	padding: 7px;
	transition: 0.05s;
}
.content_logo_img img:hover {
	background-color: #bdbaba;
	transition: 0.05s;
}
.content_logo_detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content_logo_detail h4 {
	font-size: 17px;
	text-transform: uppercase;
	color: #555454;
	text-align: center;
}
.content_logo_detail span {
	text-align: center;
	font-size: 17px;
	color: #4e4d4d;
	text-align: center;
}
.content_logo:nth-child(3) {
	border-right: none;
}

.sanPham {
	width: 100%;
}
.sanPham_root {
	background-color: #11519b;
}
.sanPham_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}
.sanPham_text {
	color: #f1f1f1;
	font-size: 20px;
}
.sanPham_text a {
	color: #f1f1f1;
	font-size: 23px;
}
.sanPham_filter {
	margin-right: 17px;
}
.sanPham_filter select {
	padding: 8px;
	font-size: 15px;
	border-radius: 27px;
	color: #f1f1f1;
	background-color: #5b89b1;
}
.sanPham_filter select option {
	background-color: #f1f1f1;
	color: black;
}
.sanPham_show {
	width: 100%;
}
.sanPham_showShow {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 50px;
	margin-top: 50px;
}
.sanPham_left {
	width: 40%;
}
.sanPham_right {
	width: 70%;
}
.sanPham_right_products {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
.sanPham_right_products_item {
	width: 200px;
	margin-right: 10px;
	margin-left: 10px;
	transition: 0.25s;
	border-radius: 15px;
}
.sanPham_right_products_item img {
	width: 180px;
	transition: 0.25s;
	border-radius: 25px;
}
.sanPham_right_products_item img:hover {
	transform: scale(1.1);
}
.sanPham_right_products_item_detail {
	margin-top: 15px;
	margin-bottom: 15px;
}
.sanPham_right_products_item_detail .category {
	color: #555555;
	text-transform: uppercase;
}
.sanPham_right_products_item_detail .name {
	color: #5b89b1;
}
.sanPham_right_products_item_detail .price {
	font-weight: bold;
}

.footer {
	width: 100%;
	background-color: #777777;
	color: #f1f1f1;
}
.footer_root {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.footer_LienHe {
	width: 50%;
}
.footer_LienHe p {
	font-size: 17px;
}
.footer_Tags {
	width: 50%;
}
.footer_Tags a {
	color: #f1f1f1;
	border: 1px solid #f1f1f1;
	padding: 5px;
	border-radius: 5px;
}
.footer_Tags a:hover {
	background-color: #4040e9;
	border: 1px solid #4040e9;
}

.dangNhap {
	width: 100%;
}
.dangNhap h2 {
	color: #4e4d4d;
	font-weight: 400;
}
.dangNhap h4 {
	color: #555454;
}
.dangNhap h4 a {
	color: #5f5f5f;
	text-decoration: underline;
}
.dangNhap_root {
	width: 100%;
	background-color: #f7f7f7;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 50px;
}
.dangNhap_FormInput {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dangNhap_Form {
	width: 40%;
	font-size: 20px;
}
.dangNhap_Form .sao {
	color: red;
}
.dangNhap_Form .quenMatKhau {
	font-size: 15px;
	display: inline-block;
	margin-bottom: 10px;
}
.dangNhap_Form .btnDangNhap {
	width: 100%;
	border: none;
	background-color: #fcda1a;
	font-size: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'Times New Roman', Times, serif;
	border-radius: 7px;
}
.dangNhap_Form input {
	width: calc(100% - 20px);
	padding: 10px;
	border: 1px solid #e2dada;
	margin-top: 5px;
	margin-bottom: 10px;
	outline: none;
	font-size: 15px;
}
.dangNhap_Form .dangNhapThem {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}
.dangNhap_Form .dangNhapThem p {
	color: #5f5f5f;
}
.dangNhap_Form .dangNhapThem .faceGoogle {
	width: 60%;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-around;
}
.dangNhap_Form .dangNhapThem .faceGoogle .face {
	width: 103px;
	background-color: #5e5ef0;
	border-radius: 5px;
	padding: 5px;
}
.dangNhap_Form .dangNhapThem .faceGoogle .face i,
.dangNhap_Form .dangNhapThem .faceGoogle .face span {
	color: white;
}
.dangNhap_Form .dangNhapThem .faceGoogle .face i {
	margin-right: 2px;
	padding-right: 3px;
	border-right: 1px solid black;
}
.dangNhap_Form .dangNhapThem .faceGoogle .google {
	width: 103px;
	background-color: #e41d27;
	border-radius: 5px;
	padding: 5px;
}
.dangNhap_Form .dangNhapThem .faceGoogle .google i,
.dangNhap_Form .dangNhapThem .faceGoogle .google span {
	color: white;
}
.dangNhap_Form .dangNhapThem .faceGoogle .google i {
	margin-right: 2px;
	padding-right: 3px;
	border-right: 1px solid black;
}

.gioHang {
	width: 100%;
}
.gioHang_root {
	width: 100%;
}
.gioHang_root h2 {
	color: #2e00ac;
	font-size: 30px;
}
.gioHang_Show {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}
.gioHang_Show .table {
	width: 100%;
}
.gioHang_Show .table thead {
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
}
.gioHang_Show .table tbody td {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
}
.gioHang_Show .table tbody td .fas {
	color: red;
}
.gioHang_Show .table tbody .total {
	font-size: 25px;
	color: red;
}

/*# sourceMappingURL=style.css.map */
