<!-- @format -->
<link rel="stylesheet" href="/admin/CSS/donHang.css" />
<h2>Đơn hàng</h2>
<!--
<div class="boxField">
    <div class="box">
        <div>
            <p>Mã Đơn Hàng</p>
            <input type="text" ng-model="donhang.maDH" />
        </div>
        <div>
            <p>Email</p>
            <input type="email" ng-model="donhang.email" />
        </div>
        <div>
            <p>Họ tên</p>
            <input type="email" ng-model="donhang.name" />
        </div>
        <div>
            <p>Số điện thoại</p>
            <input type="email" ng-model="donhang.phone" />
        </div>
        <div>
            <p>Địa chỉ</p>
            <input type="text" ng-model="donhang.address" />
        </div>
        <div>
            <p>Ngày mua</p>
            <input type="text" ng-model="donhang.ngay" />
        </div>
        <div>
            <p>Tổng tiền</p>
            <input type="text" ng-model="donhang.tongtien" />
        </div>
        <div>
            <p>Trạng thái</p>
            <input type="text" ng-model="donhang.trangthai" />
        </div>
        <div>
            <button id="add" ng-click="update()">Cập nhật</button>
        </div>
    </div>
</div>
-->
<div class="list_donHang">
    <div class="boxList">
        <div id="headerlist">
            &nbsp;
            <span class="tbTitle" style="width: 200px;">Email</span>
            <span class="tbTitle" style="width:150px;">Họ tên</span>
            <span class="tbTitle">Số điện thoại</span>
            <span class="tbTitle">Địa chỉ</span>
            <span class="tbTitle">Ngày mua</span>
            <span class="tbTitle">Tổng tiền</span>
            <span class="tbTitle" style="width:90px;">Trạng thái</span> &nbsp;
        </div>
        <hr />
        <div ng-click="display($index)" id="item" ng-repeat="c in list_donhang">
            <span class="rowitem" style="width: 200px;">{{c.email}}</span>
            <span class="rowitem" style="width:150px;">{{c.name}}</span>
            <span class="rowitem">{{c.phone}}</span>
            <span class="rowitem">{{c.address}}</span>
            <span class="rowitem">{{c.ngay}}</span>
            <span class="rowitem">{{c.tongtien}}</span>
            <span class="rowitem" style="width:90px;">{{c.trangthai}}</span>
            <span class="btdonhang">
                <button class="buttontt" ng-click="huy($index)">Hủy</button>
                <button class="buttontt" ng-click="giao($index)">Giao</button>
            </span>
            <br />
        </div>
    </div>
</div>