<!-- @format -->

<div class="dangNhap">
	<div class="container">
		<div class="dangNhap_root">
			<h2>ĐĂNG NHẬP TÀI KHOẢN</h2>
			<h4>Bạn chưa có tài khoản? <a href="#!/dangKy">Đăng ký tại đây</a></h4>
			<div class="dangNhap_FormInput">
				<form class="dangNhap_Form">
					<label for="username">Username<span class="sao">*</span></label
					><br />
					<input
						name="username"
						type="text"
						id="username"
						class="name"
						placeholder="user name....."
						required
					/>
					<span
						style="color: red"
						ng-show="myForm.username.$dirty && myForm.username.$invalid"
					>
						<span ng-show="myForm.username.$error.required"
							>Username is required.</span
						>
					</span>
					<br />
					<label for="password">Mật khẩu<span class="sao">*</span></label
					><br />
					<input
						name="password"
						id="password"
						type="password"
						class="dangNhap_password"
						placeholder="Mật khẩu....."
						ng-model="a.password"
						value="{{a.password}}"
						required
					/>
					<span
						style="color: red"
						ng-show="myForm.password.$dirty && myForm.password.$invalid"
					>
						<span ng-show="myForm.password.$error.required"
							>Password is required.</span
						>
					</span>
					<br />
					<span class="quenMatKhau"
						>Quên mật khẩu? Nhấn vào
						<a href="#" class="day">đây</a> </span
					><br />
					<input type="button" class="btnDangNhap" value="Đăng nhập" />
					<div class="dangNhapThem">
						<p>Hoặc đăng nhập bằng</p>
						<div class="faceGoogle">
							<div class="face">
								<a href="https://www.facebook.com/"
									><i class="fab fa-facebook-square"></i
									><span>Facebook</span></a
								>
							</div>
							<div class="google">
								<a href="https://www.google.com/"
									><i class="fab fa-google-plus-g"></i
									><span>Google</span></a
								>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
