<!-- @format -->

<div class="dangNhap">
	<div class="container">
		<div class="dangNhap_root">
			<h2>ĐĂNG NHẬP TÀI KHOẢN</h2>
			<h4>Bạn chưa có tài khoản? <a href="#!/dangKy">Đăng ký tại đây</a></h4>
			<div class="dangNhap_FormInput">
				<form class="dangNhap_Form">
					<label for="hoTen">Họ tên<span class="sao">*</span></label
					><br />
					<input
						name="hoTen"
						id="hoTen"
						class="hoTen"
						placeholder="Họ tên....."
					/><br />
					<label for="email">Email<span class="sao">*</span></label
					><br />
					<input
						name="email"
						id="email"
						class="dangNhap_email"
						placeholder="Email....."
					/><br />
					<label for="matKhau">Mật khẩu<span class="sao">*</span></label
					><br />
					<input
						name="matKhau"
						id="matKhau"
						type="password"
						class="dangNhap_MatKhau"
						placeholder="Mật khẩu....."
					/><br />
					<label for="diaChi">Địa chỉ<span class="sao">*</span></label
					><br />
					<input
						name="diaChi"
						id="diaChi"
						type="text"
						class="dangNhap_DiaChi"
						placeholder="Đại chỉ....."
					/><br />

					<span class="quenMatKhau"
						>Quên mật khẩu? Nhấn vào
						<a href="#" class="day">đây</a> </span
					><br />
					<a href="#"
						><button type="submit" class="btnDangNhap">Đăng ký</button></a
					>
					<div class="dangNhapThem">
						<p>Hoặc đăng nhập bằng</p>
						<div class="faceGoogle">
							<div class="face">
								<a href="https://www.facebook.com/"
									><i class="fab fa-facebook-square"></i
									><span>Facebook</span></a
								>
							</div>
							<div class="google">
								<a href="https://www.google.com/"
									><i class="fab fa-google-plus-g"></i
									><span>Google</span></a
								>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
