<div class="container">
    <div class="header_Menu_root">
        <ul class="header_List">
            <li class="header_item">
                <a href="#!/content">Trang chủ</a>
            </li>
            <li class="header_item">
                <a href="#!/gioiThieu">Giới thiệu</a>
            </li>
            <li class="header_item">
                <a href="#!/lienHe">Liên hệ</a>
            </li>
            <li class="header_item">
                <a href="#!/product">Sản phẩm</a>
            </li>
        </ul>
        <div class="header_Time">
            <span><a href="#">Contact</a></span>
            <span>08:00 - 17:00</span>
        </div>
    </div>
</div>