<!-- @format -->

<div class="lienHe">
	<div class="container">
		<div
			class="lienHe_root"
			style="
				color: #777777;
				margin-top: 80px;
				margin-bottom: 80px;
				font-size: 18px;
			"
		>
			<h2 style="color: red">Trụ sở chính</h2>
			<div class="location" style="color: #0a0a0a">
				<p>
					Địa chỉ: Tầng 6, Tòa A1, Trường Đại học Công Nghiệp Hà Nôi, Bắc
					Từ Liêm, Hà Nội
				</p>
				<p>Số điện thoại: 0234567899</p>
				<p>Thời gian làm việc: 8:00 AM - 17:00 PM</p>
			</div>
			<img
				style="width: 100%; margin-bottom: 20px"
				src="../images/Haui.png"
				alt="Haui"
			/>
			<h2 style="color: red">Chi nhánh tại Hải Dương - Cửa hàng Doanh Mỵ</h2>
			<div class="location" style="color: #0a0a0a">
				<p>Địa chỉ: Thị trấn Tứ Kỳ, Hải Dương</p>
				<p>Số điện thoại: 02206567686</p>
				<p>Thời gian làm việc: 8:00 AM - 17:00 PM</p>
			</div>
			<img
				style="width: 100%; margin-bottom: 20px"
				src="../images/doanhMy.png"
				alt="Haui"
			/>
			Vui lòng liên hệ với chung tôi theo thông tin sau: CÔNG TY CỔ PHẦN
			ACEGROUP. Địa chỉ trụ sở: Trường Đại học Công Nghiệp Hà Nôi, Bắc Từ
			Liêm, Hà Nội <br /><br />
			Điện thoại: 0234567899<br /><br />
			Website: moto14.com
		</div>
	</div>
</div>
