
<!-- @format -->
<!-- @format -->
<div class="product">
	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Categories -->
		<div class="categories">
			<span>DANH MỤC SẢN PHẨM</span>
			<ul>
                <li><a href="#!/product" ng-click="all()"><i class="fa fa-angle-right"></i>TẤT CẢ</a></li>
                <li ng-repeat="item in brands">
                    <a href="#!/product/{{item}}" ng-click="getBrand(item)"><i class="fa fa-angle-right"></i>{{item | uppercase}}</a>
                </li>
            </ul>
		</div>
		<!-- End categories -->
		<!-- New products -->
		<div class="new-product">
			<span>SẢN PHẨM MỚI</span>
			<div>
				<div class="product-item" ng-repeat="item in newProducts">
					<div class="left col-3 img">
						<a href="#!/productDetail/{{item.id}}">
							<img src="{{item.image}}" width="100%" height="100px" />
						</a>
						<div class="quick-view-btn" ng-click="quickView(item)">Xem nhanh</div>
					</div>
					<div class="left col-9 info">
						<div class="product-name">{{item.name}}</div>
						<div class="new-price">
							{{getNewPrice(item.Price) | number}}<span class="currency small"><u>đ</u></span>
						</div>
						<div class="product-price">
							{{item.Price | number}}<span class="currency small"><u>đ</u></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End new products -->
	</div>
    <!-- End Sidebar -->
	<!-- Main-content -->
	<div class="main-content">
		<!-- Product list -->
		<div class="product-list">
			<div class="detail" align="center">
				<!-- <input type="hidden" ng-model="productDetail.id" /> -->
				<div class="detail_image">
					<img src="{{productDetail.image}}" alt="anh" width="500" height="500" />
				</div>
				<div class="detail_info">
					<div class="detail_name">{{productDetail.name}}</div>
					<div class="detail_hang">
						<span>Hãng sản xuất: </span> {{productDetail.Brand}}
					</div>
					<div class="divRong"></div>
					<div class="detail_dungTich">
						<span>Dung tích: </span> {{productDetail.dungTich}} cc
					</div>
					<div class="divRong"></div>
					<div class="detail_gia">
						<span>Giá bán: </span> {{productDetail.Price}} đ
					</div>
					<div class="divRong"></div>
					<button
						class="addCart_detail"
						type="button"
						ng-click="add_cart(productDetail)"
					>
						Add to card
					</button>
					<div class="detail_icon">
						<div class="div_icon">
							<i class="fab fa-facebook"></i>
						</div>
						<div class="div_icon">
							<i class="fab fa-twitter"></i>
						</div>
						<div class="div_icon">
							<i class="far fa-envelope"></i>
						</div>
						<div class="div_icon">
							<i class="fab fa-instagram"></i>
						</div>
						<div class="div_icon">
							<i class="fab fa-google"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End product list -->
	</div>
	<!-- End main content-->
    <!-- Quick view  -->
    <div class="hidden-view" ng-show="hiddenView">
        <div class="blur" ng-click="closeQuickView()"></div>
        <div class="quick-view">
            <!-- Header -->
            <div class="header">
                <div class="title">THÔNG TIN SẢN PHẨM</div>
                <div class="close">
                    <i class="fas fa-window-close" ng-click="closeQuickView()"></i>
                </div>
            </div>
            <!-- Main info -->
            <div class="main-info">
                <div class="img left">
                    <img src="{{productQuickView.image}}" width="100%" height="100%">
                </div>
                <div class="info left">
                    <div class="name">{{productQuickView.name}}</div>
                    <div class="brand">  
                        <span>Hãng</span> {{productQuickView.Brand}}
                    </div>
                    <div class="capacity">  
                        <span>Dung tích</span> {{productQuickView.dungTich}}cc
                    </div>
                    <div class="price">  
                        <span>Giá</span> {{productQuickView.Price | number}}<div class="currency"><u>đ</u></div>
                    </div>
                    <div class="quantity" ng-init="quantity = 1">  
                        <span><label for="quantity">Số lượng</label></span>
                        <input type="number" name="quantity" ng-model="quantity" value="1" step="1" min="1">
                    </div>
                    <div align="center">
                        <input type="button" ng-click="add_cart(productQuickView)" value="Add cart" class="add-cart-btn">
                    </div>
                </div>
            </div>
            <!-- End main info -->
        </div>
    </div>
    <!-- End Quick view  -->
</div>
