<div style="align-items: center; margin: 50px 50px;">
    <h2>
        Cảm ơn Quý khách đã đặt hàng tại GK shop!
    </h2>
    <h2>
        Đơn hàng của Quý khách đã được tiếp nhận, chúng tôi sẽ nhanh chóng liên hệ với Quý khách.
    </h2>
    <form name="thank" class="thank">
        <a ng-href="#!/gioHang">
            <button type="button" class="btn-btn button">Quay lại giỏ hàng</button>
        </a>
        <a ng-href="#!/index">
            <button type="button" class="btn-btn button">Tiếp tục mua hàng</button>
        </a>
    </form>
</div>